#main {
  width: 100%;
  margin: 10px auto;
}
.post {
    background-color: transparent;
    display: inline-block;
    margin: 4px 2px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.post {
    width: 180px;
    height: 180px;
}

.post img {
  width: 176px;
  height: 176px;
}

.post span.title {
  margin: 20px auto;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.post:hover {
    border: 2px solid orange;
}

.navbar-link {
  padding-top: 15px;
}